<h1>Very fun! Create article!</h1> 

<form method="POST" action="/articles">
    <p>Please enter article title:<input type="text" name="title">
        <br>
        <input type="text" name="content" value="Enter your article content here">
        <br>
        <input type="submit" value="Submit">
    </p>
    
</form>